.home{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    text-align: center;
}

.header-text{
    font-size:50px;
    color:  #004890;
    font-weight: bold;
    padding: 0px 30px;
}

.hstu-logo{
    width: 100px;
    height: 115px;
    margin-top: 6rem;
}

.home-text{
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1199px){
    .header-text{
        font-size: 30px;
        margin: 0px 40px;
    }
}

@media only screen and (max-width: 991px){
    .header-text{
        margin: 0px 30px;
    }
}
@media only screen and (max-width: 461px){
    .header-text{
        margin: 0px 20px;
    }
}