.home{
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    text-align: center;
}

.header-text{
    font-size:50px;
    color:  #004890;
    font-weight: bold;
    padding: 0px 30px;
}

.hstu-logo{
    width: 100px;
    height: 115px;
    margin-top: 5rem;
}

@media only screen and (max-width: 1200px){
    .header-text{
        font-size: 30px;
        margin: 0px 40px;
    }
}


.home-text{
    margin-top: 50px;
    margin-bottom: 50px;
}