.app{
    font-family: 'Open Sans', sans-serif;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.footer-app{
    margin-top: auto;
}

.app-container{
    display: flex;
    flex-direction: column;
}

.min-height{
    min-height: calc(100vh - 80px)
}