.news-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    height: 100%;
}

.news{
    width: 80%;
}

.news-block{
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.news-block .title{
    font-size: 40px;
    font-weight: 500;
}

.news-block .news-date{
    margin-bottom: 20px;
}

.news-block .description{
    height: 4.5rem;
    overflow: hidden;
}