.news-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    height: 100%;
}

.news{
    width: 80%;
}

.news-block{
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 2rem;
    padding: 2rem;
}

.news-block .title{
    font-size: 40px;
    font-weight: 500;
}

.news-block .news-date{
    margin-bottom: 20px;
}

.news-block .description{
    height: 4.5rem;
    overflow: hidden;
}

.news-btn{
    width: 100%;
    text-align: center;
    margin: 40px 0 30px 0;
}

.add-news-btn{
    width: 20rem;
    padding: 12px;
}


@media (max-width: 467px) {
    .add-news-btn{
        width: 80%;
        padding: 12px;
    }
}