.news-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.news{
    width: 80%;
    margin-top: 6rem;
}

.news-block{
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 2rem;
    padding: 2rem;
}

.news-block .title{
    font-size: 35px;
    font-weight: 600;
}

.news-block .news-date{
    margin-bottom: 20px;
}

.news-block .description{
    height: 4.5rem;
    overflow: hidden;
}

.news-buttons{
   display: flex
}

.news-button{
    width: 8rem;
}

.news-btn{
    display: flex;
    position: fixed;
    right: 0;
    top: 5rem;
    width: 14rem;
    
}

.add-news-btn{
    width: 7rem;
    padding: 3px 10px;
}

.delete-btn{
    margin-left: 20px;
}

@media (max-width: 991px) {
    .news{
        width: 100%;
    }

    .news-block .title{
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .news-button{
        width: 100%;
        padding: 10px;
    }
    .delete-btn{
        margin-left: 0;
    }
    .news-block .title{
        font-size: 25px;
    }
    
}

@media (max-width: 467px) {
    .news-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .add-news-btn{
        width: 43%;
        padding: 5px 10px;
    }

    .news-block{
        margin: 2rem 1rem;
        padding: 1rem;
    }

    .news-block .title{
        font-size: 20px;
    }
}