.list-table{
    margin: 7rem 0 2rem 0;
}
td, tr{
    height: 70px;
    vertical-align: middle; /* Center the text vertically */
}

@media (max-width: 991px) {
    .lists{
        overflow: scroll;
    }
}