.footer-text {
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center
}

.footer {
    background-color: #202633;
    width: 100%;
    padding: 10px 0; /* Add some padding for better spacing on small screens */
    
}

.footer p{
    padding: 0 40px;
}

/* Media Query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 400px) {
    .footer {
        height: 100px;
    }
}

@media (max-width: 768px) {
    .footer-text {
        align-items: center;
    }

    .footer {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}


