.registration{
    margin: 7rem 0 2rem 0;
}

.registration-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form{
    width: 60%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.form-heading{
    text-align: center;
    margin-bottom: 4rem;
}

.form-group{
    margin-bottom: 30px;
}

.input-field{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.registration-buttons {
    display: flex;
   justify-content: space-between;
}

.submit-btn{
    width: 20%;
    text-align: center;
}

@media only screen and (max-width: 1199px){
    .registration-form{
       width: 70%;
    }
	.registration-buttons{
        display: flex;
        flex-direction: column;
    }
    .submit-btn{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .nav-link{
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 991px){
    .registration-form{
       width: 90%;
    }
}

@media only screen and (max-width: 767px){
    .registration-form{
       width: 100%;
    }
}